[user]
	name 	= JaroDevs
	email 	= aria.groult@pm.me
	signingkey = aria.groult@pm.me
[core]
	editor 	= nvim
[merge]
  tool = codium
[mergetool "codium"]
  cmd = codium --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
	tool = codium
[pull]
	rebase = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
	signinkey = aria.groult@pm.me
