[user]
	name 	= Aria Groult
	email 	= aria.groult@pm.me
	signingKey = aria.groult@pm.me
[core]
	editor 	= nvim
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[merge]
  tool = codium
[mergetool "codium"]
  cmd = codium --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
	tool = codium
